<div
  style="width: 100%; color: black;"
>
    <div
      style="display: inline-block;
       width: 675px;
       height: 205px;
       vertical-align: top;
       display: block;
       margin: 0 auto;
       "
    >
      <div 
        style="height: 100%;
          width: 70%;
          float: left;
          background-color: #f2f2f2;"
      >
        <div
          style="padding-left: 5%;
           padding-right: 25%;
           padding-top: 5%;
           padding-bottom: 5%;
           width: 70%;
           height: 100%;
           box-sizing: unset;
           "
        >
          <div
            style="font-size: 24px;
             font-family: 'Montserrat', 'Avenir Next', sans-serif;
             font-weight: bold;"
          >
            Enjoy my Writing?
          </div>
          <div
            style="font-size: 18px;
             margin-top: 5%;
             margin-bottom: 5%;
             font-family: 'Montserrat', 'San Francisco', Helvetica, Arial, san-serif;"
          >
            Say thanks and fuel my next blog post by buying me a coffee 💛
          </div>
          <button
            style="color: white;
             box-shadow: none !important;
             font-size: 18px;
             width: 100%;
             height: 20%;
             border-radius: 6px;
             border-style: solid;
             background: transparent;
             background-color: #00A4DB;
             boarder-color: #00A4DB;
             font-family: 'Montserrat', 'San Francisco', Helvetica, Arial, san-serif;
             font-weight: bold;
             cursor: pointer"
            onclick="window.open('https://monzo.me/{{ site.monzo_me }}/2.50?d=I%20enjoyed%20reading%20{{ page.title | url_encode }}&utm_source=widget&utm_medium=widget&utm_campaign=donate-with-monzo','_blank')"
          >
            Donate now
          </button>
        </div>
    </div>
    <img
      style="height: 100%;
       width: 30%;
       float: right;"
      src="https://monzo.com/hotchip/images/hot-chip_sipping.gif"
     />
  </div>
</div>
